
<div>
<div>
    <input #txtName (keyup)="onKey($event)" type="text" id="txtName" hint="Task Name" style="margin:10px;">
    <button class="tablinks" (click)="addTaskByName()">Add Task</button>
</div> 
<p></p>  
<div class="tab">
  <button class="tablinks"  (click)="openList($event, 'doing')">{{numberDoing+"  "}}Tasks</button>
  <button class="tablinks" (click)="openList($event, 'done')">Done{{"  "+numberDone}}</button>
</div>
<div id="doing" class="tabcontent">
    <ul type = "disc">
        <li *ngFor="let task of doingTasks" > 
            <input type="checkbox"  (click)="goToDone(task)">
            <strong>{{task.Name}}</strong>
        </li>       
    </ul>
</div>
<div id="done" class="tabcontent">
    <ul type = "disc">
        <li *ngFor="let task of doneTasks" >   
            <input type="checkbox"  (click)="goToDoing(task)">
            <strong>{{task.Name}}</strong>
        </li>     
    </ul>
</div>
</div>